<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
	<settings>
		<setting name="logImpl" value="LOG4J2" />
	</settings>

	<typeAliases>
		<typeAlias type="com.pcwk.ehr.sportsxpress.VO.ArticleVO"
			alias="ArticleVO" />
		<typeAlias type="com.pcwk.ehr.sportsxpress.VO.BaseballMatchVO"
			alias="BaseballMatchVO" />
		<typeAlias
			type="com.pcwk.ehr.sportsxpress.VO.BasketballInfoVO"
			alias="BasketballInfoVO" />
		<typeAlias
			type="com.pcwk.ehr.sportsxpress.VO.BasketballMatchVO"
			alias="BasketballMatchVO" />
		<typeAlias type="com.pcwk.ehr.sportsxpress.VO.FootballInfoVO"
			alias="FootballInfoVO" />
		<typeAlias type="com.pcwk.ehr.sportsxpress.VO.FootballMatchVO"
			alias="FootballMatchVO" />
		<typeAlias type="com.pcwk.ehr.sportsxpress.VO.GolfMatchVO"
			alias="GolfMatchVO" />
		<typeAlias type="com.pcwk.ehr.sportsxpress.VO.GolfRankVO"
			alias="GolfRankVO" />
		<typeAlias type="com.pcwk.ehr.sportsxpress.VO.TajaInfoVO"
			alias="TajaInfoVO" />
		<typeAlias type="com.pcwk.ehr.sportsxpress.VO.TeamVO"
			alias="TeamVO" />
		<typeAlias type="com.pcwk.ehr.sportsxpress.VO.TusuInfoVO"
			alias="TusuInfoVO" />
		<typeAlias type="com.pcwk.ehr.sportsxpress.VO.VideoVO"
			alias="VideoVO" />
		<typeAlias
			type="com.pcwk.ehr.sportsxpress.VO.VolleyballInfoVO"
			alias="VolleyballInfoVO" />
		<typeAlias
			type="com.pcwk.ehr.sportsxpress.VO.VolleyballMatchVO"
			alias="VolleyballMatchVO" />
		<typeAlias
            type="com.pcwk.ehr.sportsxpress.VO.BaseballRecordVO"
            alias="BaseballRecordVO" />
        <typeAlias
            type="com.pcwk.ehr.sportsxpress.VO.FootballRecordVO"
            alias="FootballRecordVO" />    
        <typeAlias
            type="com.pcwk.ehr.sportsxpress.VO.BasketballRecordVO"
            alias="BasketballRecordVO" />
 
  
	</typeAliases>

</configuration>