<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Match Info</title>

</head>
<body>

	<div>
		<table>
			<tr>
				<td><a href="/ehr/sportsxpress/baseball_record.do">야구 리코드 </a></td>
				<td><a href="/ehr/sportsxpress/football_record.do">축구 리코드</a></td>
				<td><a href="/ehr/sportsxpress/basketball_record.do">농구 리코드 일정</a></td>
				<td><a href="/ehr/sportsxpress/basketball_Schedule.do">농구 일정</a></td>
				<td><a href="/ehr/sportsxpress/volleyball_Schedule.do">배구 일정</a></td>
				<td><a href="/ehr/sportsxpress/golf_Schedule.do">골프 일정</a></td>
			</tr>
		</table>
	</div>
</body>
</html>